[submodule "src/modules/beamos/filesystem/iobeam"]
	path = src/modules/beamos/filesystem/repos/iobeam
	# url = https://github.com/mrbeam/iobeam.git
	url = git@github.com:mrbeam/iobeam.git
	branch = mrbeam2-beta
	# branch = f_unpriviledged
[submodule "src/modules/beamos/filesystem/mount_manager"]
	path = src/modules/beamos/filesystem/repos/mount_manager
	url = git@github.com:mrbeam/mount_manager.git
	branch = mrbeam2-stable
[submodule "src/modules/beamos/filesystem/repos/mrb_hw_info"]
	path = src/modules/beamos/filesystem/repos/mrb_hw_info
	url = git@github.com:mrbeam/mrb_hw_info.git
	branch = mrbeam2-beta
[submodule "src/modules/beamos/filesystem/repos/mrb_check"]
	path = src/modules/beamos/filesystem/repos/mrb_check
	url = git@github.com:mrbeam/mrb_check.git
	branch = develop
