[Unit]
Description=Mr Beam II iobeam Daemon
After=socket.target

[Service]
Type=idle
ExecStart=/usr/local/iobeam/venv/bin/iobeam
PIDFile=/var/run/iobeam.pid

[Install]
WantedBy=multi-user.target
